.test{
  width: 100px;
  height: 100px;
  background: url("../assets/sub/b.png");
}

.test2{
  width: 100px;
  height: 100px;
  background: url("../assets/a.png?minfiy=true&base64");
}

@import "_inc/sub1";