.test3{
  width: 100px;
  height: 100px;
  background: url("../../assets/a.png");
}

.test4{
  width: 100px;
  height: 100px;
  background: url("http://7o51mi.com1.z0.glb.clouddn.com/egret3dANI.PNG");
}
